
  .main-logo-img{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	filter: drop-shadow(0 0 0.75rem #ed167b);
  }
  
  .image-me-main{
	border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #3a3839);
  }

  .gradient {
	width: 100%;
	/* height: 100%; */
	background: linear-gradient(334deg, #6088e1, #8f57db, #ed167b);
	background-size: 180% 180%;
	animation: gradient-animation 16s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body{  background: radial-gradient(ellipse at bottom, #d19fcd 0%, #3d4b95  100%)}

.nav-main-title{
    font-family: serif;
}

.card-shadow{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}